[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
ipython = "*"
ipykernel = "*"
metakernel = "*"
pylint = "*"
tabulate = "*"
askee_kernel = {path = "."}
websocket-client = "*"

[dev-packages]

[requires]
python_version = "3.8"
